<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletDemo1</display-name>
  <servlet>
    <servlet-name>Servletdemo</servlet-name>
    <servlet-class>com.servletdemo.Servletdemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servletdemo2</servlet-name>
    <servlet-class>com.servletdemo1.Servletdemo2</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>Servletdemo</servlet-name>
    <url-pattern>/servlet/Servletdemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servletdemo2</servlet-name>
    <url-pattern>/servlet/Servletdemo2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>